
<%= form_for @main do |f| %>
 <p>
 	<%= f.label :name %>
	<%= f.text_field :name %>	
	<%= f.label :title %>
	<%= f.text_field :title %><br>
 </p>
 <p>
 	<%= f.label :text %>
	<%= f.text_area :text %>
 </p>

 <p>
 	<%= f.submit %>
 </p>

<%end%>