
<%= form_for @main do |f| %>
 <div class="form-group">
 	<%= f.label :name%>
	<%= f.text_field :name, value:"貴様らに名乗る名はないッ！" %>	
	<%= f.label :title %>
	<%= f.text_field :title %><br>
 </div>
 <p>
 	<%= f.label :text %>
	<%= f.text_area :text %>
 </p>

 <p>
 	<%= f.submit %>
 </p>

<%end%>
