<h1>aa</h1>
 <ul>
 	<% @mains.each do |main| %>
 	<li><%= link_to main.title, main_path(main.id) %>(<%=main.subs.count %>)</li>
 	<!--<li><%= main.name %></li>
 	<li><%= main.text %></li>
 	<li><%= main.created_at %></li>--><br>
 	<%end%>

 </ul>
 <%= render 'form' %>
 	<% if @main.errors.any? %>
 	<%= @main.erros.inspect %>
 	<% end %>
