<h1><%= @main.title %></h1>
<a name="1"></a><p><strong>#<%= no = 1 %></strong>
 <font color="green"><strong><%= @main.name %></strong></font>
 <font color="blue"><%= @main.created_at %></font>
 <% @main.id %>
</p>
 <%= simple_format(@main.text) %><br>

 	  <% @main.subs.order(:created_at).each do |sub|; no+=1 %>
 	 	<p><a name="<%= no %>"></a><strong>#<%= no %></strong>
 	 	 <font color="green"><strong><%= sub.name %></strong> </font>
 	 	 <font color="blue"><%= sub.created_at %></font>
 	 	 <% sub.main_id %>
 	 	 <%# link_to "[Delete]", main_sub_path(sub.main_id, sub.id), method: :delete%><%# , data:{ confirm: "ok?"} %>
 	 	</p>
 	 	<%= simple_format(sub.text)%><%#.gsub(/>>(\d{1,3})/, "<a href=#>ohoo</a>") %><br>
 	  <%end%>



	<% if no < 100 %>
 	 	<div class="form-group">
 	 		<%= form_for [@main, @main.subs.build] do |f|%>
 	 		<%= f.label :name, class: "control-label"%>
 	 		<%= f.text_field :name, value:"貴様らに名乗る名はないッ！", class: "form-control"%><br>
 	 		<%= f.label :text, class: "control-label"%>
 	 		<%= f.text_area :text, class: "form-control" %>
 	 		<%= f.submit class: "btn btn-primary"%>
 	 		<% end %>
 	 	</div>
 	 <% else %>
 	 		<p><%= @main.title %> was 100res over.<br>Please create next<%= @main.title %></p>
 	<% end %>

 <p><%= link_to"home" , "/" %></p>