<h1><%= @main.title %></h1>
<p>#<%= no = 1 %></p>
<p><%= @main.name %></p>
<p><%= @main.text %></p>
 	 	<% @main.subs.each do |sub|; no+=1 %>
 	 	<li>#<%= no %></li>
 	 	<li><%= sub.created_at %></li>
 	 	<li><%= sub.name %></li>
 	 	<li><%= simple_format(sub.text) %></li><br>
 	 	<%end%>
	<% if no < 100 %>
 	 	<div>
 	 		<%= form_for [@main, @main.subs.build] do |f|%>
 	 		Name<br>
 	 		<%= f.text_field :name, :value=>"貴様らに名乗る名はないッ！"%><br>
 	 		Text<br>
 	 		<%= f.text_area :text %>
 	 		<%= f.submit %>
 	 		<% end %>
 	 	</div>
 	 <% else %>
 	 		<p>osimai</p>
 	<% end %>
 
 <p><%= link_to"home" , "/" %></p>
